@page "/dieroller"
@using notesAndLedgersApp.Shared.Enums

<PageTitle>Roll Something!</PageTitle>

<h1>Go for it!</h1>

@if(RollType == RollType.Standard){
    <p role="status">Current roll: @CurrentRoll</p>
}
else {
    if(RollType == RollType.Disadvantage)
    {
        <p role="status">Current roll: @CurrentRoll</p>
        <p role="status">Low roll: @CurrentRoll</p>
        <p role="status">High roll: @OtherRoll</p>
    }
    else
    {
        <p role="status">Current roll: @CurrentRoll</p>
        <p role="status">Low roll: @OtherRoll</p>
        <p role="status">High roll: @CurrentRoll</p>
    }
}

<button class="btn btn-primary" @onclick="RollDie">Roll a d20!</button>
<button class="btn btn-primary" @onclick="RollAdvantage">Roll with advantage!</button>
<button class="btn btn-primary" @onclick="RollDisadvantage">Roll with disadvantage!</button>

@code {

}
